@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-Bold.ttf) format('truetype');
  font-weight: 700;
}

:root {
  /* Colors */
  --clr-background: #ffffff;
  --clr-toggle-background: #f9f9f9;
  --clr-keypad-background: #f9f9f9;
  --clr-key-background: #f7f7f7;
  --clr-key-background--hover: #eeeeee;
  --clr-toggle: #dddddd;
  --clr-toggle--active: #3f434b;
  --clr-accent: #26fcd5;
  --clr-primary: #ee7878;
  --clr-text: #292d36;
}

[data-theme="dark"] {
  --clr-background: #22252d;
  --clr-toggle-background: #292d36;
  --clr-keypad-background: #292d36;
  --clr-key-background: #272b33;
  --clr-key-background--hover: #343943;
  --clr-toggle: #797b80;
  --clr-toggle--active: #ffffff;
  --clr-accent: #26fcd5;
  --clr-primary: #ee7878;
  --clr-text: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  color: var(--clr-text);
  background-color: var(--clr-background);
}

/* Calculator */

.calculator {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

/* Theme Toggle */
.theme-toggle {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1.5rem;
  padding: 0.5rem 1.125rem;
  border-radius: 0.9375rem;
  background-color: var(--clr-toggle-background);
}

.theme-toggle button {
  cursor: pointer;
  border: none;
  background: none;
  color: var(--clr-toggle);
  font-size: 1.25rem;
}

.theme-toggle i {
  pointer-events: none;
}

[data-theme="light"] [data-light-theme-toggle] {
  color: var(--clr-toggle--active);
}

[data-theme="dark"] [data-dark-theme-toggle] {
  color: var(--clr-toggle--active);
}

/* Display */

.display {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  padding: 5.75rem 2rem 2.25rem;
}

.display-inner {
  text-align: end;
}

.previous-operand, 
.current-operand {
  word-wrap: break-word;
}

.previous-operand {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.current-operand {
  min-height: 3rem;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 3rem;
}

.previous-operand i,
.current-operand i {
  margin-inline: 0.3em;
  font-size: 0.8em;
  color: var(--clr-primary);
}

/* Keypad */

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.125rem;
  padding: 2.5rem 2rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  background-color: var(--clr-keypad-background);
}

/* Keys */

.key {
  cursor: pointer;
  padding-block: 1rem;
  border: none;
  border-radius: 0.9375rem;
  background-color: var(--clr-key-background);
  color: var(--clr-text);
  font: inherit;
  font-size: 1.25rem;
}

.key:hover,
.key:focus,
.key:active {
  background-color: var(--clr-key-background--hover);
}

.key[data-operator],
.key[data-equals] {
  color: var(--clr-primary);
}

.key[data-all-clear],
.key[data-plus-minus],
.key[data-percent] {
  color: var(--clr-accent);
}
